body {
    background-color: rgb(196, 194, 194);
    font-size: 18px;
  }
  h4 {
    text-align: center;
    font-size: 20px;
    color: black;
    padding: 0px;
    margin-right: 360px;
  }
  #perigrafi {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 5px 5px #b4b2b2;
  }
  #titlos {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 20px;
    box-shadow: 5px 5px #b4b2b2;
    background-image: url('pictures/Diakl_ElegAsk1β.jpg') ;
    background-repeat: no-repeat;
    background-position: 57% 50%;
    background-size: 90% 100%;
    min-height: 350px;
  }
  #wrapper {
    background-color: #e6e6e6;
    max-width: 700px;
    min-width: 575px;
    margin: 0 auto;
    border:1px solid #124845;
    border-radius: 10px;
    padding-bottom: 10px;
  }
  #lab {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
  }
  #numbers { 
    font-size: 14px;
    color: rgb(0, 0, 0);
  }